# Xcode
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift / macOS
.DS_Store

# SwiftPM
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcuserdata/

# CocoaPods
Pods/
